body {
	background-color: #F6F2F2; 
	margin: 0;
}
.site-menu {
	position: relative;
	background-color: #000;
	margin-top: 31px;
	margin-left: 166px;
	margin-right: 167px;
	text-align: center;
	width: 1249px;
   	height: 89px;
}
.site-menu a {
	display: inline-block;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	text-transform: uppercase;
	text-decoration: none;
	padding:42px 25px 31px;
}
.site-menu> a:hover {
	background-color: #FF3F40;
}
.text-wrapper {
	display: inline-block;
	vertical-align: top;
	margin-left: 166px;
	margin-bottom: 40px;
	color: #000000;
}
.text-wrapper h1 {
	font-size: 60px;
	font-weight: bold;
	margin-top: 101px;
	width: 618px;
	text-transform: uppercase;
	margin-bottom: 35px;
}
.text{
	position: relative;
	font-size: 16px;
	max-width: 545px;
	vertical-align: top;
}
.button {
	position: relative;
	top: 65px;
	color: #FFFFFF;
	background-color: #FF2D2D;
	text-decoration: none;
	font-size: 18px;
	text-align: center;
	padding:15px 60px;
	
}
img {
	width: 554px;
	height: 359px;
	box-shadow: 5px 5px 5px 5px rgba(122,122,122,0.5);
}
.picture {
	display: inline-block;
	margin-top: 101px;
	padding-left: 70px;
	opacity: 0.8;
}