<!DOCTYPE html>
<HTML LANG="ru">
<HEAD>
    <TITLE>Books, Authors and Publishers</TITLE>
    <LINK REL="stylesheet" HREF="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" INTEGRITY="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" CROSSORIGIN="anonymous">
</HEAD>
<BODY>
    {% for publisher in publishers %}
    <UL CLASS="list-group">
        <LI CLASS="list-group-item">
            Книги издательства &quot;{{ publisher.name }}&quot;:
            <UL CLASS="list-group">
                {% for book in publisher.books.all %}
                <LI CLASS="list-group-item">{{ book.title }}</LI>
                {% endfor %}
            </UL>
        </LI>
    </UL>
    {% endfor %}
</BODY>
</HTML>
